<div id="post-author">
	<div class="post-author-image" style="width: 20%; display: inline-block;">
		<img src="/images/author.jpeg" style="max-width: 150px; width: 100%;">
	</div>
	<div class="post-author-content" style="width: 70%; display: inline-block;">
		<p>
			My name is Jason Brown, I'm an entrepreneur, developer, and general hobbyist. I work full time as a front end developer and develop in anything, and everything in my free time. If you ever want an explanation or to contact me for whatever reason you can drop me a line at <a href="http://twitter.com/browniefed">@browniefed</a> or email me at ( <a href="mailto:browniefed@gmail.com">browniefed@gmail.com</a> )
		</p>
	</div>
</div>